/* General styling */
.profile-page {
    max-width: 75%;
    margin: 0 auto;

    display: flex;
    justify-content: left;
    flex-direction: column;

}

h1 {
    text-align: left;
}

.user-details {
    text-align: left;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: left;

}



.change-password {
    width: 20%;
    text-align: left;
}

.change-password button {

    color: black;
    background-color: white;
    border: 1px black solid;

    cursor: pointer;
}

.change-password button:hover {
    background-color: rgb(55, 55, 55);
    color: white;
}

/* Order History */
.order-item {
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
}

.order-details {
    display: flex;
    padding: 2%;
}

.product-img-profile-oh img {
    height: 200px;
    width: auto;


}

.product-img-profile-oh {
    /* padding: 1%; */
    padding-right: 2%;
}

.oh-details {
    /* height: 100%;
    width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 3%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.item-oh1 {
    display: flex;
    gap: 3%;
}

.item-oh2 {
    display: flex;
    flex-direction: column;
    gap: 3%;

}

/* Responsive CSS */
@media (max-width: 768px) {
    .profile-info {
        flex-direction: column;
    }

    .change-password button {

        width: fit-content;
        height: fit-content;
        padding: 2%;
    }


    .order-details {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-img-profile-oh {
        /* display: flex; */
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .product-img-profile-oh img {
        margin: 1%;
        align-self: center;
    }
}